.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  z-index: 100;
  background: linear-gradient(
    to right,
    #50bbfe,
    #60c2ff,
    #70c8ff,
    #95d6ff,
    #b0e1ff,
    #c9eaff,
    #d0e9ff,
    #d0e9ff,
    #c9eaff,
    #b0e1ff,
    #95d6ff,
    #70c8ff,
    #60c2ff,
    #50bbfe
  );
}

.nav {
  height: calc(var(--header-height) + 1.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

.nav__logo {
  border-radius: 50%;
  width: 20%;
  height: 20%;
}

.nav__toggle {
  color: black;
  font-weight: var(--font-medium);
}

.nav__list {
  display: flex;
  column-gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: hsl(0, 0%, 20%);
  font-weight: var(--font-medium);
  transition: 0.5s;
}

.nav__icon,
.nav__close,
.nav__toggle {
  display: none;
}

/* Trasistioned Links */

.active-link,
.navbar__icon,
.nav__link:hover {
  color: rgb(0, 0, 0);
}

/* change background header */
.scroll-header {
  box-shadow: 0 3px 5px #a5b0ce;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
}

/* For medium devices */
@media screen and (max-width: 800px) {
  .header {
    top: 0;
    bottom: initial;
  }

  .nav__logo {
    margin-top: 5px;
    width: 14%;
  }

  .nav {
    height: var(--header-height);
  }
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: rgb(233, 237, 239);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -5px 5px rgba(0, 55, 110, 0.234);
    border-radius: 1.5rem 1.5rem 0.15rem 0.15rem;
    transition: 0.3s;
  }

  /* Menu Option */
  .show-menu {
    bottom: 0;
  }

  .nav__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .nav__icon {
    font-size: 1.2rem;
  }

  .nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--title-color);
  }

  .nav__close:hover {
    color: var(--title-color-dark);
  }

  .nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
  }

  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: block;
  }
}

/* For small devices */
@media screen and (max-width: 300px) {
  .nav__menu {
    padding: 2.5rem 1rem 7rem;
  }

  .nav__list {
    column-gap: 1;
  }
}
