.about__container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 2.5rem;
}

.about__img {
  background: linear-gradient(315deg, #ffec61, #f321d7);
  position: relative;
  width: 350px;
  border-radius: 1.5rem;
  justify-self: auto;
}

.about__info {
  grid-template-columns: repeat(3, 200px);
  gap: 0.5rem;
  margin-bottom: var(--mb-2);
}

.about__box {
  background-color: var(--container-color);
  border: 2.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  text-align: center;
  padding: 1.25rem 0.5rem;
}

.about__icon {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-bottom: var(--mb-0-5);
}

/* Main Heading */
.about1__title1 {
  text-align: center;
  font-size: 3rem;
  font-weight: rgba(85, 2, 39, 0.573);
  background: linear-gradient(to right, #fa7cfa, #00575cbc, #a80242, #ffd885);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.about2__title2 {
  text-align: center;
  font-size: 2rem;
  background: linear-gradient(to right, #f90361, #3713d5, #017931, #ff02ff);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/* Box elements */
.about__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.about__subtitle {
  font-size: var(--tiny-font-size);
}

.about__description {
  margin-bottom: var(--mb-2-5);
  padding: 0 2rem 0 1rem;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .about__container {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }
  .img__card {
    justify-self: center;
  }
  .about__img {
    width: 220px;
    justify-self: center;
  }
  .about__box {
    padding: 0.75rem 0.5rem;
  }
  .about__data {
    text-align: center;
  }
  .about__info {
    justify-content: center;
  }
  .about__description {
    padding: 0 5rem;
    margin-bottom: 2rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .about1__title1 {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 576px) {
  .about {
    padding-top: 3.4rem;
  }
  .about__info {
    grid-template-columns: repeat(3, 1fr);
  }
  .about__description {
    padding: 0;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .about__info {
    grid-template-columns: repeat(2, 1fr);
  }
}
