.achievement__container {
  width: 500px;
}

.achievement__card {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
  margin-bottom: var(--mb-3);
}

.achievement__img {
  width: 450px;
  border-radius: 0.8rem;
  margin-bottom: var(--mb-1);
}

.achievement__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-25);
}

.achievement__description {
  font-size: var(--small-font-size);
  text-align: left;
}

/* Swiper Class */
.swiper-pagination-bullet {
  background-color: var(--text-color) !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--title-color) !important;
}

.achievement__section__title {
  padding-top: 1.25rem;
  font-size: 3rem;
  background: linear-gradient(to right, #fa7cfa, #00575cbc, #a80242, #ffd885);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1000px) {
  .achievement__container {
    width: initial;
  }
  .achievement__card {
    padding: 1.25rem 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .achievement__container {
    width: initial;
  }
  .achievement__card {
    padding: 1.25rem 1.5rem;
  }
  .achievement__section__title {
    display: none;
  }
}
